{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header class="header">
			{% block header %}
                <div class="row grey z-depth-1" style="opacity: 1; margin: 0">
                    <div class="col green hide-on-small-only" style="height: 128px; width: 128px; padding: 0%">

                    </div>

                    <div class="col right">
                        <nav id="nav-main" class="nav-main nav-wrapper transparent z-depth-0">
                            {% include "contact.twig" with {'menu': menu.get_items} %}
                        </nav><!-- #nav -->
                        <nav id="nav-main" class="nav-main nav-wrapper transparent z-depth-0">
                            {% include "menu.twig" with {'menu': menu.get_items} %}
                        </nav><!-- #nav -->
                    </div>
                </div>
                <div class="row">
                    <nav id="nav-main" class="nav-main nav-wrapper indigo z-depth-0" style="height: 10px">

                    </nav><!-- #nav -->
                </div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
