{#Needs Styling and alignment#}
<div class="blue-border center" style="height: 25px; z-index: 3; position: relative">
        <a href= "julia@mathesontravel.com"><img class="flexWidth" style="transform: translate(0px, -1.5em);" src={{RibbonCenter}} alt="Contact Julia"></a>
    </div>

<div style="padding-top: 8%" class="footer-copyright grey-background center">
    <div class=" ">All Rights Reserved. Copyright {{ "now"|date('Y') }} </div>
    <div>A proud member of the Gifted Travel Network, part of the <a href="http://www.theaffluenttraveler.com/"><img src={{affluent | resize(100)}}></img>"</a></div>
    <div class=""><img src={{Gifted | resize(100)}}></img></div>
  <div class="">Built By:<a href="http://www.longlivesimple.com"><img src={{lls | resize(100)}}></a> </img> & Anthony Garera</div>
 
</div>