{#Needs Styling and alignment#}
<div class="blue-border valign-wrapper hide-on-med-and-down" style="height: 25px; z-index: 3; position: relative; width: 100%">
    <a class="valign center-align" style="width: 100%" href="mailto:julia@traveljuliasway.com"><img class="flexWidth" style="min-height: 40px" src={{RibbonCenter}} alt="Contact Julia"></a>
</div>

<div class="blue-border valign-wrapper hide-on-large-only" style="height: 25px; z-index: 3; position: relative; width: 100%">
    <a class="valign center-align" style="width: 100%" href="mailto:julia@mathesontravel.com"><img class="" style="min-height: 40px; width:100%"  src={{RibbonCenter}} alt="Contact Julia"></a>
</div>

<div style="padding-top: 8%" class="footer-copyright grey-background center">
    <div class="sanchez">All Rights Reserved. Copyright {{ "now"|date('Y') }} </div>
    <div class="sanchez">A proud member of the <div class=""> <a href="http://www.giftedtravelnetwork.com/"><img src={{Gifted | resize(100)}}></img></a></div>
    part of the <a href="http://www.theaffluenttraveler.com/"><img src={{affluent | resize(100)}}></img></a></div>
    <br></br>
    <div class="sanchez">Built By:<a href="http://www.longlivesimple.com"><img src={{ lls | resize(100) }}></a> </img> &
        Anthony Garera
    </div>
 
</div>