{% extends "base.twig" %}

{% block content %}

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{tipsguide}} /></div>
</div>
<div class="grey-background quote-padding">
    <div class="sanchez">
    <div>Browse through the different sections for city overviews, practical tips, reviews, and of course travel inspiration.  My regular readers get this kind of information weekly, so remember to subscribe above to get your regular fix!</div>
    <div><img src={{sig | resize(100)}}></img></div>
    </div>
</div>
<div class="container row">
<!-- Dropdown Trigger -->
  <h5>City Overviews</h5>
{{post.content}}
<br></br>
<h5>Destination Spotlights</h5>
{{post.content}}
<br></br>
<h5>Logistical Tips</h5>
{{post.content}}
<br></br>
<h5>Partner Highlights</h5>
{{post.content}}
<br></br>
<h5>Travel Ideas</h5>
{{post.content}}
<br></br>
<h5>Reviews – Tours / Hotels</h5>
{{post.content}}
<br></br>
</div>
    
{% endblock %}