{% extends "base.twig" %}

{% block content %}

<style>
    
    h5:hover{
        color: #3c4768;
    }
    
</style>

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{tipsguide}} /></div>
</div>
<div class="grey-background quote-padding">
    <div class="sanchez">
    <div>Browse through the different sections for city overviews, practical tips, reviews, and of course travel inspiration.  My regular readers get this kind of information weekly, so remember to subscribe above to get your regular fix!</div>
    <div><img src={{sig | resize(100)}}></img></div>
    </div>
</div>
<div class="row ">
    <div class="container">
        <br></br>
        <img class="hide-on-med-and-down" src={{explorecategory | resize(500)}}></img>
        <img class="hide-on-large-only" src={{explorecategory | resize(250)}}></img>
<!-- Dropdown Trigger -->
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoOne')">City Overviews</h5>
    <div id="videoOne">
        {% include "overview.twig" %}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoTwo')">Destination Spotlights</h5>
    <div id="videoTwo">
        {{post.content}}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoThree')">Logistical Tips</h5>
    <div id="videoThree">
        {{post.content}}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoFour')">Partner Highlights</h5>
    <div id="videoFour">
        {{post.content}}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoFive')">Travel Ideas</h5>
    <div id="videoFive">
        {{post.content}}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#videoSix')">Reviews – Tours / Hotels</h5>
    <div id="videoSix">
        {{post.content}}
    </div>
    <br></br>
</div>
</div>
<script>

    $("#videoOne").hide();
    $("#videoTwo").hide();
    $("#videoThree").hide();
    $("#videoFour").hide();
    $("#videoFive").hide();
    $("#videoSix").hide();
    
    
    function showBox(id){
        console.log(id)
    
        $(id).toggle();
        
    }
    
</script>
    
{% endblock %}