{% extends "base.twig" %}

{% block content %}
{#Slider#}
    <!-- Place somewhere in the <body> of your page -->
    {#<div class="flexslider card-image">#}
        {#<ul class="slides">#}
            {#<li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6.jpg">#}
                {#<img class="responsive-img" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6.jpg" />#}
                {#<p class="flex-caption">Adventurer Cheesecake Brownie</p>#}
            {#</li>#}
            {#<li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/AT%2B-%2BVienna%2Bx2%2B01.jpg">#}
                {#<img src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/AT%2B-%2BVienna%2Bx2%2B01.jpg" />#}
            {#</li><li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6-resize.png">#}
                {#<img src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Bel-resize.png" />#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
    
    <style>
        .carousel-image{
            height: auto;
           background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            width: 100%;
        }
        
        .larger-paragraph-font {
            font-size: larger;
        }
        body {
            background-color: #3c4768
            
        }
    </style>
    
    <script>
         
    </script>

<div style="width:100%;" class="slider-for carousel-image">
      <div><img class="responsive-img" data-lazy={{home1}} /></div>
      <div><img class="responsive-img" data-lazy={{home2}} /></div>
      <div><img class="responsive-img" data-lazy={{home3}} /></div>
      <div><img class="responsive-img" data-lazy={{home4}} /></div>
      <div><img class="responsive-img" data-lazy={{home5}} /></div>
      <div><img class="responsive-img" data-lazy={{home6}} /></div>
</div>
      

    <div style="z-index: 3; position: relative;" class="slider-nav">
        <img class="col s12 m6 l2" src={{home7}} />
        <img class="col s12 m6 l2" src={{home8}} />
        <img class="col s12 m6 l2" src={{home9}} />
        <img class="col s12 m6 l2" src={{home10}} />
        <img class="col s12 m6 l2" src={{home11}} />
        <img class="col s12 m6 l2" src={{home12}} />
      
</div>
    

<div class="grey-background" style=" z-index: 3; position: relative; width: 100%">
    <section class="container sanchez"><H5 style="padding-top: 4%;" class="blue-font menufont">IF YOU'RE THE KIND OF
            TRAVELER WHO:</H5>
    <ul>
        <li>• Wants to experience the true destination, not just the tourist traps</li>
        <li>• Wants to travel in a relaxed fashion, allowing for plenty of time to explore with all five senses</li>
        <li>• Doesn't want to do what "everyone else does", yet still wants to understand why the famous landmarks are important</li>
        <li>• Wants to discover the <i>"je ne sais quoi"</i> of a place - that special something that makes it unique and special</li>


    </ul>
<br></br><br></br>

    </section>
    <br></br>
    <div class="hide-on-med-and-down">
        <div class="clearfix mb2" style="border-bottom: #3c4768 20px; z-index: 3; position: relative">
            
            <div class="left p3 mr1"><img src={{RibbonSide |  resize(400)}}></img></div>
            <div class="left p2 mr1 circle"><img class="materialboxed" width="150" src="/wp-content/themes/twig-wp-theme/static/Julia.png"></div>
            <div class="overflow-hidden">
                <br></br>
                <p class="sanchez"><b class="blue-font menufont larger-paragraph-font">THEN</b> you're looking to <b
                            class="blue-font menufont larger-paragraph-font">"TRAVEL JULIA'S WAY"!</b> I meticulously craft
                    great days for busy people who have graduated from the DIY backpacker mode of travel, but still want to experience the real culture of a destination so that they understand that people are people no matter where they are in the world.</p>
            </div>
    
        </div>
    </div>
    <br></br>
    
    <div class="clearfix mb2 hide-on-large-only" style="border-bottom: #3c4768 20px; z-index: 3; position: relative; background: white">
        
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4 center-align p2 mr1 circle"><img class="materialboxed" width="150" src="/wp-content/themes/twig-wp-theme/static/Julia.png"></div>
            <div class="col s4"></div>
        </div>
        <div class="row">
            <div class="left p3 mr1"><img style="min-height: 40px; width:75%" src={{RibbonSide}}></img></div><br>
        </div>
        <div class="row" style="margin: 10px">
            <p class="sanchez">
                <b class="blue-font menufont larger-paragraph-font">THEN</b> you're looking to 
                <b class="blue-font menufont larger-paragraph-font">"TRAVEL JULIA'S WAY"!</b> I meticulously craft
                great days for busy people who have graduated from the DIY backpacker mode of travel, but still want to experience the real culture of a destination so that they understand that people are people no matter where they are in the world.</p>
        </div>

    </div>
    </div>

    </section>

    {#Blue Border Line#}
    <div class="blue-border" style="height: 25px; z-index: 3; position: relative"></div>
</div>

{#3 Ways to Travel Section#}

<div style="padding-bottom: 9%; background: white">
    <section class="container top-padding"><H5 class="blue-font menufont">THERE ARE THREE WAYS TO "TRAVEL JULIA'S
            WAY":</H5>
    </section>
    <br>

    {#Promo Table Styling#}
    <div class="row sanchez">
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="" src="/wp-content/themes/twig-wp-theme/static/Icon1.png" alt="Resources">
                <p class="promo-caption">1. Use my free resources!</p>
                <a href="/tips-guides">
                <button class="btn not-rounded grey menufont">EXPLORE TIPS & GUIDES</button>
                </a>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="" src="/wp-content/themes/twig-wp-theme/static/Icon2.png" alt="Hire Me">
                <p class="promo-caption">2. Hire me to plan your next trip!</p>
                <a href="/services">
                <button class="btn not-rounded grey menufont">REVIEW MY SERVICES</button>
                </a>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="" src="/wp-content/themes/twig-wp-theme/static/Icon3.png" alt="Travel With Me!">
                <p class="promo-caption">3. Travel with me!</p> 
                <a href="/upcoming-trips">
                <button class="btn not-rounded grey menufont">SEE UPCOMING TRIPS</button>
                </a>
            </div>
        </div>
    </div>
</div>

    {#<div class="blue-border center" style="height: 25px; z-index: 3; position: relative">#}
    {#    <img class="flexWidth" style="transform: translate(0px, -45px);" src={{RibbonCenter}} alt="Contact Julia">#}
    {#</div>#}


    {#<div class="content-wrapper center container">#}
        {#<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">#}
            {#<section class="article-content left-align">#}
                {#<h1 class="article-h1">{{post.title}}</h1>#}
                {#<div class="article-body">#}
                    {#{{post.content}}#}
                {#</div>#}
            {#</section>#}
        {#</article>#}
    {#</div><!-- /content-wrapper -->#}
{% endblock %}